main {
  padding: 40px 0;
}

/* carusell-section */
.carusell-section {
  padding: 80px 0;
  background-color: #fff;
}
.carousel-inner {
  width: 100%;
  max-width: 800px;
}
.carousel-wrapper {
  gap: 16px;
  width: auto;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  overflow: hidden;
  background-color: #1e1e1e;
  position: relative;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
}
.carousel-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-color: black;
}
.current-option {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-around;
  position: relative;
  color: #fff;
  z-index: 2;
  max-width: 40%;
}

.current-option-text1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/bull.jpg);
  background-color: #1e1e1e;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.anim-previous .image {
  animation: next-image 0.65s 0.085s;
}
.carousel-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 32px;
  position: relative;
  filter: invert();
  z-index: 3;
}

.previous-option {
  height: 32px;
  width: 32px;
  background: url(/img/icons/chevron-right-solid.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transform: rotate(180deg);
}
.next-option {
  height: 32px;
  width: 32px;
  background: url(/img/icons/chevron-right-solid.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  border: none;
}
.anim-next .image,
.anim-prev .image {
  animation: next-image 0.65s 0.085s;
}
.anim-next .current-option-text1 {
  animation: next-text 0.65s 0.085s;
}

.anim-next .current-option-text2 {
  animation: next-text 0.65s 0.085s;
}
.anim-prev .current-option-text1 {
  animation: previous-text 0.65s 0.085s;
}

.anim-prev .current-option-text2 {
  animation: previous-text 0.65s 0.085s;
}

@media screen and (min-width: 769px) {
  .current-option,
  .current-option-text1 {
    color: #1e1e1e;
  }
  .previous-option {
    transform: rotate(-90deg);
  }
  .next-option {
    transform: rotate(90deg);
  }
  .carousel-wrapper {
    flex-direction: row;
    background-color: #a6d8c4;
  }
  .carousel-button {
    flex-direction: column;
    width: fit-content;
    filter: none;
  }

  .image {
    position: relative;
    top: auto;
    left: auto;
    width: 240px;
    height: 240px;
  }
  .carousel-wrapper::after {
    content: "";
    position: relative;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-color: black;
  }
}
@keyframes next-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes prev-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes next-text {
  0% {
    transform: scale(1) translate(0, 0px);
    opacity: 1;
  }
  70% {
    transform: scale(1.3) translate(0, 0px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0px);
    opacity: 1;
  }
}
@keyframes previous-text {
  0% {
    transform: scale(1) translate(0, 0px);
    opacity: 1;
  }
  70% {
    transform: scale(1.3) translate(0, 0px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0px);
    opacity: 1;
  }
}
