main {
  padding: 80px 0;
}
main .inner {
  display: flex;
  flex-direction: column;
}
.top-section-contact {
  background-color: #1e1e1e;
  color: #fff;
  padding: 24px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 56px;
  color: #38a47a;
  margin: 0;
}

.page-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 900px;
  line-height: 1.8;
}
.contact-form {
  border: 1px solid #1e1e1e;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-container input {
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid#1e1e1e;
}
.input-container input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid#1e1e1e;
}
.input-container textarea {
  padding: 8px;
  border: 2px solid#1e1e1e;
}
.input-container input.error,
.input-container textarea.error {
  border: 2px solid #fd0d39;
}
.formToast {
  color: #fff;
  padding: 0;
  height: 0;
  width: 100%;
  transition: 0.6s ease-in;
  overflow: hidden;
}
.formToast.error {
  background-color: #b23d52;
  height: fit-content;
  padding: 16px;
}
.formToast.success {
  background-color: #38a47a;
  height: fit-content;
  padding: 16px;
}
.error-info-field {
  color: #fd0d39;
}
.contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: fit-content;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #38a47a;
  border: none;
  cursor: pointer;
}
.mail-adress {
  display: flex;
  gap: 16px;
  align-items: center;
}
.mail-adress svg {
  width: 32px;
  fill: #38a47a;
}
.mail-adress a {
  color: #fff;
}
@media screen and (min-width: 769px) {
  main .inner {
    flex-direction: row;
  }
  h1 {
    font-size: 72px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
  }
}
