main {
  background-color: #f1f0f0;
}
.highlighted-news-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 40px 0;
}
.product-cat {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #38a47a;
}
h1,
h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #4d4c4c;
  margin: 0;
}

h3 {
  font-size: 24px;
}
.big-section .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.big-section img {
  width: 100%;
  max-width: 500px;
}
.aside-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card .img-container {
  padding: 24px;
  width: 100%;
  background-color: #b23d52;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-card .img-container img {
  width: 60%;
  object-position: center;
}

.top-stories-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.info-section {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Poppins", sans-serif;
}
.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.card-info {
  display: none;
}
.blog-card {
  width: fit-content;
}
@media screen and (min-width: 769px) {
  .highlighted-news-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
  }
  h1 {
    font-size: 48px;
    width: 70%;
  }
  .top-stories-section {
    flex-direction: column;
    gap: 20px;
  }
  .big-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
  }
  .big-section .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .big-section img {
    width: 100%;
    max-width: 500px;
  }
  .aside-section {
    width: 40%;
  }
  .blog-card {
    width: 90%;
    max-width: 300px;
  }
  .blog-card .img-container {
    height: auto;
  }
  .blog-card.img-container img {
    object-position: center;
  }
  .card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
    font-size: 14px;
  }
  .news-carusel {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
  }
  .card-section {
    display: flex;
    gap: 8px;
    min-width: 100%;
  }
}
